h1{
    color: green;
    text-decoration: underline;
    font-family: sans-serif;
}
body{
    color: black;
    background-color: #faebd7;
    font-family: cursive;
}
h2{
    font-family: cursive;
}
#subtopic{
    text-decoration: underline;
    color: blue;
}
.anatomy{
    font-family: cursive;
    text-decoration: underline;
}